/* =============
    Base
============= */

.large-imgs{
    img{
        width: 100%;
    }
}

.header-footer-grids{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header-footer .";

    .parent-header-footer{
        grid-area: header-footer;
    }
}

section{
    width: 100vw;
}

ul{
    list-style-type: none;
    padding: 0;
}