/* =============
    Typography
============= */

body{
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
}

h1, h2, h3, h5, h6{
    font-family: 'Playfair Display', serif;
}

h2, h3{
    font-size: 29px;
}

h4{
    font-size: 24px;
}