/*========== 
Hero Section 2 with images 
==========*/

.heroimages2{
    .img3{
        display: none;
    }
    
    
    @include md{
        ul{
         display: grid;
         grid-template-columns: 3fr 2fr;
        }
         
    }

    @include xxl{
        ul{
            height: 85vh;
            overflow: hidden;
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
            "img1 img2"
            "img1 img3";

            .img1{
                grid-area: img1;
            }
            .img2{
                grid-area: img2;
            }
            .img3{
                display: block;
                grid-area: img3;
            }
        }
    }
   
}