.main-hero-img{
    height: 250px;
    background-image: url("../img/hero/tank.jpg");
    background-size: cover;
    background-position: center;

    @include md{
        height: 430px;
    }

    @include lg{
        height: 580px;
    }

    @include xl{
        height: 600px;
    }

    @include xxl{
        height: 1000px;
    }
}
