/*======== 
What's New section
 ========*/

 .whats-new{

    h2{
        padding: 0px 16px;
    }

    ul{
        li{
            background-color: var(--white);
            box-shadow: 0px 12px 26px rgba(42, 48, 54, 0.2);


            section{
                padding: 0px 16px;
                height: 20vh;
                width: auto;
                position: relative;
                
                p{
                    height: auto;
                }

                button{
                    position: absolute;
                    left: 16px;
                    bottom: 16px;
                    background-color: var(--blue);
                    color: var(--white);
                    padding: 8px 16px;
                    border: none;
                    
                }
            }   
       
        }

        div{
            background-size: cover;
            background-position: center;
            height: 184px;
        }

            .li1{
                div{
                    background-image: url("../img/whatsnewimages/3watches.jpg");
                }
            }
            .li2{
                div{
                    background-image: url("../img/whatsnewimages/wrist3.jpg");
                }        
            }
            .li3{
                div{
                    background-image: url("../img/whatsnewimages/breda.jpg");
                }
            }
            .li4{
                div{
                    background-image: url("../img/whatsnewimages/wrist5.jpg");
                }
            }
            .li5{
                div{
                    background-image: url("../img/whatsnewimages/backofwatch.jpg");
                }
            }

    }

    @include md{
        ul{
            gap: 16px;
            margin: 16px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            "li1 li1 li2 li2"
            "li3 li3 li4 li4"
            "... li5 li5 ...";

            .li1{
                grid-area: li1;
            }
            .li2{
                grid-area: li2;
            }
            .li3{
                grid-area: li3;
            }
            .li4{
                grid-area: li4;
            }
            .li5{
                grid-area: li5;
            }

        }
    
    }

    @include lg{
        max-width: 990px;
        margin: 0 auto;
        ul{
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas:
            "li1 li1 li2 li2 li3 li3"
            "... li4 li4 li5 li5 ...";
        }

    }

 }