/*======== 
What's New section
 ========*/

 .whats-new{

    li{
        background-color: #F0F0F0;

        div{
            grid-area: div;
            padding: 16px;
        }
    }

    @include md{
        ul{
            gap: 16px;
            margin: 16px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            "li1 li1 li2 li2"
            "li3 li3 li4 li4"
            "... li5 li5 ...";

            .li1{
                grid-area: li1;
            }
            .li2{
                grid-area: li2;
            }
            .li3{
                grid-area: li3;
            }
            .li4{
                grid-area: li4;
            }
            .li5{
                grid-area: li5;
            }

        }
    
    }

    @include lg{
        max-width: 1440px;
        margin: 0 auto;
        ul{
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas:
            "li1 li1 li2 li2 li3 li3"
            "... li4 li4 li5 li5 ...";
        }

    }

 }