/*======== 
What's New section
 ========*/

 .whats-new{

    li{
        background-color: #F0F0F0;

        div{
            grid-area: div;
            padding: 16px;
        }

        button{
            background-color: #1C3859;
            color: white;
            border: none;
            padding: 0 24px;
            height: 40px;
            

        }
    }

    



 }