/* =============
    Footer
============= */

footer{
    li{
        div{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: "icon text";

            img{
                grid-area: icon;
            }
            p{
                grid-area: text;

            }
        }

    }

    .email-input{
        display: grid;
        grid-template: repeat(3, 50px);

        button{
            margin-top: 24px;
            margin-left: auto;
            width: 74px;
        }
    }

    .follow-us{
        div{
            width: 50%;
            display: inline-grid;
            grid-template-columns: repeat(4, auto);
            gap: 24px;
        }

    }
}
