/* =============
    Footer
============= */

footer{
    li{
        div{            
            img{
                display: inline;
                padding: 0 16px 0 0;
            }

            p{
                display: inline;
            }
        
        }

    }

    .email-input{
        display: grid;
        grid-template: repeat(3, 50px);

        button{
            margin-top: 24px;
            margin-left: auto;
        }
    }

    .follow-us{
        img{
            padding: 0 8px;
        }

    }
}
